/out/*
/nolivecode/*
/tmp/*
/.idea/*
/.vscode/*
/AcceptHistory/*
/RejectHistory/*
classming.iml
TestSuite*
*.log
cachedir*
.tmp*.instance
/sootOutput/eclipse/configuration/org.eclipse.osgi/.*.1
/sootOutput/eclipse/configuration/org.eclipse.osgi/.manager/.tmp*.instance
/sootOutput/eclipse/configuration/org.eclipse.osgi/.manager/.fileTable.*
*.state
Logs*.zip
*.zip
*EclipseStarter_backup02251143.class
/sootOutput/avrora-cvs-20091224/Main.class
tmpBackup*
tmpClasses*
tmpClass*
findPopulationsInTemp*